$canvasColour:#f1f0e9;

.gallery--image {
    position: absolute;
    &:after {
        position: absolute;
        content: ' ';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

.gallery__images{
  background: $canvasColour;

    height: 100%;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    width: 100%;
    auto-rows: auto;
    
    @media (max-width:991px) {
            grid-template-columns: repeat(2,1fr);
            padding: 40px;

    }
       @media (max-width:767px) {
            grid-template-columns: repeat(2,1fr);
            padding: 20px;

    }
   
}