@import '~sanitize.css'; //https://github.com/csstools/sanitize.css
@import url(https://use.typekit.net/kto6cpu.css);


$bkgCanvasColour: #3f2d20;
$frgColour: #3f2d20;
$bkgColour: #3f2d20;
$canvasColour:#f1f0e9;

$primaryTextColour: #ffffff;
$highlightTextColour: #ffffff;
$coreMenuZIndex: 10;
$enlargedZIndex: 20;
$coreMenuHeight: 100px;
$menuTextColour: #ffffff;

@mixin font-primary {
  font-family: 'sweet-sans-pro', 'agency FB', Helvetica, sans-serif;
  font-style: normal;
}

@mixin font-residences-menu {
  font-family: 'sweet-sans-pro', 'agency FB', garamond, georgia;
  font-style: normal;
  font-weight: 550;
}

@mixin font-secondary {
  font-family: 'sweet-sans-pro', 'agency FB', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 450;
}

@mixin font-light {
  font-family: 'sweet-sans-pro', 'agency FB', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}


body {
  background: $bkgCanvasColour;
  overflow-x: hidden;
}

.shared--load-container {
  opacity: 0;
  transition: all 0.6s ease;
  display: none;
   
}
.shared--load-container {
  
    bottom: 0;
}
.shared--load-container.is-loaded > div,.shared--load-container.is-loaded > div > div,.shared--load-container.is-loaded .view-home{
  
   height: 100%;
    
}
.shared--load-container.is-loaded {
  opacity: 1;
  display: block;
  height: calc(100vh - 100px);
  //  height: 100%;
    @media (max-width:991px) {
        height: calc(100vh - 100px);
    }
}
.shared--load-container .view-lifestyle-wrapper {
    top: 0;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}


.shared--loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    margin: -50px 0px 0px -50px;
    content: "loading...";
    color: $primaryTextColour;
    text-align: center;
    @include font-primary();
    font-size: 20px;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: " ";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: -6px 0px 0px -6px;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1.5s linear infinite;
  }
}


@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}


.shared--load-container {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: $bkgCanvasColour;
  opacity: 0;
}


.shared--img-fill {
  width: 100%;
  height: auto;
}

.shared--img-fill-map {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}